.content {
  margin-top: 34px;
  padding-bottom: 40px;
}

.content__element {
  margin: 0 auto;
  padding: 30px 0;
  max-width: 955px;
}

.content__element--active {
  background-color: #f8f7f7;
}

.content__address {
  position: relative;
  margin-bottom: 6px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.content__station {
  position: absolute;
  top: -6px;
  margin-left: 15px;
  width: 142px;
  height: 28px;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 300;
  background-color: #f7f3f3;
}

.content__full-address {
  width: 270px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

.content__place {
  display: flex;
  align-items: center;
  height: 100%;
  color: #028147;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.content__element--active .content__place {
  color: #043a94;
}

.icon-content_m {
  margin-right: 4px;
}

.content__price {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
}

.content__work-time {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 22px;
}

.content__choice-wrap {
  position: relative;
  top: -6px;
  display: flex;
  justify-content: flex-end;
}

.content__choice {
  width: 101px;
  height: 37px;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 4px 9px rgba(227, 173, 115, 0.75);
  border-radius: 3px 4px 4px 3px;
  background: #fff linear-gradient(to top, #d85803 0%, #ffb502 100%);
}

.content__element--active .content__choice,
.content__choice--active {
  color: #813f05;
  background-color: #ffc64a;
  box-shadow: inset 0 6px 5px rgba(166, 77, 0, 0.36);
}

.content__desc {
  margin-top: 15px;
  max-width: 780px;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.content__map {
  display: none;
}

.content__element--active > .content__map {
  display: block;
}

.content__search {
  border: 1px solid black;
}
