<div class='content'
     ng-controller='ItemListController as itemList'>
  <!-- search из $rootScope (module search) -->
  <div ng-repeat='item in itemList.data | filter: search'
       ng-class="{'content__element--active': choice}">
    <div class='content__element'>
      <div class='row'>
        <div class='col-xs-1'>
          <div class='icon-content_firma-1'></div>
        </div>

        <div class='col-xs-11'>
          <div class='row'>
            <div class='col-xs-5'>
              <p class='content__address'>
                {{item.addressName}}
                <button class='content__station'>Пункты выдачи DPD</button>
              </p>

              <p class='content__full-address'>
                {{item.address}}
                <br>
                Ваш заказ будет хранится: {{item.deliveryData.timeHold}}
              </p>
            </div>

            <div class='col-xs-3'>
              <p class='content__place'>
                <i class='icon-content_m'></i>
                {{item.subway}}
              </p>
            </div>

            <div class='col-xs-2'>
              <p class='content__price'>
                {{item.deliveryData.price.sum}} {{item.deliveryData.price.currency}}
              </p>
              <p class='content__work-time'>{{item.workTime}}</p>
            </div>

            <div class='col-xs-2'>
              <div class='content__choice-wrap'
                   choice>
              </div>
            </div>
          </div>

          <div class='row'>
            <div class='col-xs-12'>
              <p class='content__desc'>{{item.text}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <img src='image/content_map.jpg'
         class='content__map'>
  </div>
</div>
