.delivery {
  margin-left: 25px;
  padding-top: 40px;
  display: flex;
  align-items: center;
}

.delivery__title {
  margin-right: 22px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #000;
}

.delivery__methods {
  display: flex;
}

.delivery__method {
  height: 36px;
  border: 1px solid #c9cdd6;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  background: #f5f6f7 linear-gradient(to top, #cfd3d7 0%, #f4f5f7 100%);
  box-shadow: 0 3px 0 #a1a9b1, inset 0 0 5px rgba(255, 255, 190, 0.42);
}

.delivery__method:first-child {
  width: 116px;
  border-radius: 6px 0 0 6px;
}

.delivery__method:nth-child(2) {
  width: 118px;
}

.delivery__method:last-child {
  width: 137px;
  border-radius: 0 6px 6px 0;
}

.delivery__method:focus,
.delivery__method--push {
  transform: translateY(3px);
  border: 1px solid #c9cdd6;
  box-shadow: inset 0 4px 9px rgba(197, 204, 212, 0.75);
  background: #f5f6f7 linear-gradient(to top, #f8e835 0%, #f7c348 100%);
}
