<div class='delivery'>
  <p class='delivery__title'>Способ доставки</p>

  <div class='delivery__methods'>
    <button class='delivery__method'
            tabindex='-1'>
      Доставка
    </button>
    <button class='delivery__method'
            tabindex='-1'>
      Самовывоз
    </button>
    <button class='delivery__method'
            tabindex='-1'>
      Пункты выдачи
    </button>
  </div>
</div>
