<meta charset='utf-8'>
<meta http-equiv='x-ua-compatible' content='ie=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0'>
<meta name='robots' content='index,follow,noodp'>
<meta name='googlebot' content='index,follow'>

<!-- limit to 150 characters -->
<meta name='application-name' content=''>
<meta name='description' content=''>
<meta name='theme-color' content='#048200'>

<meta property='og:title' content=''>
<meta property='og:description' content=''>
<meta property='og:url' content=''>
<meta property='og:image' content=''>
<meta property='og:type' content='website'>
<meta property='og:locale' content='ru_RU'>

<meta name='twitter:title' content=''>
<meta name='twitter:description' content=''>
<meta name='twitter:url' content=''>
<meta name='twitter:image' content=''>

<!--<meta http-equiv='Content-Security-Policy' content='default-src 'self''>-->
<!--<link rel='manifest' href='manifest.json'>-->
<!--<meta name='mobile-web-app-capable' content='yes'>-->
<!--<meta name='apple-mobile-web-app-capable' content='yes'>-->
<!--<meta name='apple-mobile-web-app-status-bar-style' content='black'>-->
<!--<meta name='apple-mobile-web-app-title' content=''>-->
