<div class='search'>
  <div class='search__wrap'
       ng-controller='SearchController'>
    <input class='search__input'
           placeholder='Поиск по списку'
           ng-model='search'
           ng-change='change()'>
    <div class='search__country'>Россия, Новосибирск</div>
  </div>

  <div class='search__types'>
    <button class='search__type'
            tabindex='-1'>
      Список
    </button>
    <button class='search__type'
            tabindex='-1'>
      На карте
    </button>
  </div>
</div>

<div class='search__options'>
  <input id='search__option-1'
         class='search__option--check'
         type='checkbox'
         checked
         hidden>
  <label for='search__option-1'
         class='search__option'>
    <span class='search__check'>
      <svg class='svg-search_check-dims'>
        <use xlink:href='image/sprite.svg#search_check'/>
      </svg>
    </span>
    Пункты выдачи DPD
  </label>

  <input id='search__option-2'
         class='search__option--check'
         type='checkbox'
         checked
         hidden>
  <label for='search__option-2'
         class='search__option'>
    <span class='search__check'>
      <svg class='svg-search_check-dims'>
        <use xlink:href='image/sprite.svg#search_check'/>
      </svg>
    </span>
    Частное представительство Компании
  </label>

  <input id='search__option-3'
         class='search__option--check'
         type='checkbox'
         checked
         hidden>
  <label for='search__option-3'
         class='search__option'>
    <span class='search__check'>
      <svg class='svg-search_check-dims'>
        <use xlink:href='image/sprite.svg#search_check'/>
      </svg>
    </span>
    Постомат Такой-то фирмы
  </label>
</div>
