.search {
  margin-top: 40px;
  padding-left: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search__wrap {
  display: flex;
  align-items: center;
}

.search__input {
  width: 285px;
  height: 36px;
  padding-left: 14px;
  border: 1px solid #d0d7da;
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

.search__country {
  position: relative;
  margin-left: 18px;
  color: #0aa1df;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 18px;
  /*border-bottom: 1px dotted #0aa1df;*/
  cursor: pointer;
}

.search__country::after {
  position: absolute;
  display: block;
  color: #0aa1df;
  line-height: 0;
  content: '......................................';
}

.search__types {
  margin-right: 29px;
  display: flex;
}

.search__type {
  width: 116px;
  height: 36px;
  border: 1px solid #c9cdd6;
  border-radius: 6px 0 0 6px;
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  box-shadow: 0 3px 0 #a1a9b1, inset 0 0 5px rgba(255, 255, 190, 0.42);
  background: #f5f6f7 linear-gradient(to top, #cfd3d7 0%, #f4f5f7 100%);
}

.search__type:first-child {
  border-radius: 6px 0 0 6px;
}

.search__type:last-child {
  border-radius: 0 6px 6px 0;
}

.search__type:focus,
.search__type--push {
  transform: translateY(3px);
  box-shadow: inset 0 4px 9px rgba(197, 204, 212, 0.75);
  border: 1px solid #c9cdd6;
  background: #f5f6f7 linear-gradient(to top, #f8e835 0%, #f7c348 100%);
}

/* Options */

.search__options {
  margin: 33px 0 0 48px;
  display: flex;
}

.search__option--check:checked + .search__option .search__check {
  fill-opacity: 1;
}

.search__option {
  display: flex;
  margin-right: 30px;
  cursor: pointer;
  user-select: none;
}

.search__check {
  margin-right: 10px;
  border-radius: 3px;
  box-shadow: 0 4px 1px rgba(0, 0, 0, 0.05), 0 0 3px rgba(0, 0, 0, 0.18);
  fill: #057afb;
  fill-opacity: 0;
}

.svg-search_check-dims {
  position: relative;
  top: -1px;
  left: 1px;
  width: 14px;
  height: 14px;
}
