@import 'helper/reset.css';
@import '../temp/sprite.png.css';
@import "flexboxgrid";
@import "delivery/delivery.css";
@import "search/search.css";
@import "content/content.css";

html {
  background-color: #ebeef0;
}

body {
  position: relative;
  margin: 40px auto 0;
  min-width: 1024px;
  max-width: 1060px;
  background-color: #fff;
}

.icon-corner {
  position: absolute;
  top: -15px;
  right: 0;
}

/*[class^=icon-] {*/
/*display: inline-block;*/
/*}*/
